.page--afiliados {
	.default {
		&__title {
			@include general-title;
			color: $cor-primaria;
			&.smaller {
				font-size: 32px;
			}
			@include media(s) {
				text-align: center;
			}
		}
		&__desc {
			@include text;
		}
	}
	.small__ref {
		@include text;
		font-size: 12px;
		color: $neutro-700;
	}

	.header {
		padding: 17px 0px;
		&__container {
			@include container;
			@include media(s) {
				padding: 0 24px;
			}
			.button {
				&:hover {
					color: $neutro-50;
				}
			}
		}
		.navbar-nav {
			gap: 32px;
		}
		.navbar {
			padding: 0;
			.container-fluid {
				padding: 0;
			}
			.navbar-toggler {
				padding: 0px;
				outline: none;
				appearance: none;
				&:focus {
					border: none;
					outline: none;
					box-shadow: none;
				}
			}
			.navbar-toggler-icon {
				img {
					width: 32px;
					height: 32px;
				}
			}
		}
		.nav-link {
			color: $cor-primaria;
			text-transform: uppercase;
			text-decoration: none;
			font-weight: bold;
		}
	}
	.hero {
		background: url("../assets/capao-bg.png");
		&__container {
			display: flex;
			padding: 80px 0px;
			justify-content: center;
			@include container;
			gap: 64px;
			color: $neutro-50;
			@include media(s) {
				flex-direction: column;
				padding: 20 24px 60px;
			}
		}

		&__logo {
			margin-bottom: 32px;
			display: flex;
			justify-content: start;
			align-items: center;
			max-width: 120px;
			@include media(s) {
				margin-bottom: 24px;
			}
			img {
				max-width: 100%;
				height: auto;
			}
		}
		&__img {
			max-width: 100%;
			height: auto;
			@include media(s) {
				display: none;
			}
			img {
				max-width: 100%;
				height: auto;
			}
		}
		&__content {
			max-width: 630px;
			.button--container {
				display: flex;
				gap: 16px;
				@include media(s) {
					gap: 8px;
				}
			}
			.button.no-color {
				color: $neutro-50;
			}
		}
		&__title {
			@include hero;
			margin-bottom: 16px;
			color: #30def2;
		}
		&__subtitle {
			font-weight: 700;
			font-size: 40px;
			line-height: 48px;
		}
		.default__desc {
			font-size: 32px;
			font-weight: 400;
			line-height: 48px;
			max-width: 600px;
			margin-bottom: 32px;
		}
	}
	.resources {
		padding: 80px 0px;
		@include media(s) {
			padding: 60px 0px;
		}
		&__container {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			@include media(s) {
				padding: 0 24px;
			}
		}
		&__title {
			@include text;
			font-weight: bold;
			color: $texto-resources;
			margin-bottom: 32px;
		}
		.default__title {
			color: $cor-primaria;
			margin: 16px 0px;
			max-width: 1040px;
			margin: 0 auto;
			text-align: center;
			margin-top: 16px;
		}
		.default__desc {
			margin: 24px auto 48px;
			font-weight: 500;
			font-size: 20px;
			line-height: 30px;
		}
		&__content {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 24px;
			flex-wrap: wrap;
			@include container;
			margin-bottom: 48px;

			.card-resources {
				max-width: 292px;
				height: 520px;
				padding: 32px 40px;
				background-color: $cor-primaria-clara;
				@include s-border;
				&__icon {
					padding: 16px;
					background-color: $neutro-50;
					display: inline-block;
					@include s-border;
					color: $texto-resources;
					width: 64px;
					height: 64px;
				}
				.default__desc {
					font-weight: 400;
					font-size: 16px;
					line-height: 24px;
					color: #383838 !important;
					b {
						font-weight: 700;
						font-size: 16px;
						line-height: 24px;
						color: #6c23e2;
					}
				}
			}
		}
	}
	.benefits {
		background-color: #f9f5ff;
		padding: 80px 0px;
		@include media(s) {
			padding: 60px 0px;
		}
		&__container {
			@include container;
			display: flex;
			justify-content: center;
			flex-direction: row-reverse;
			gap: 58px;
			@include media(s) {
				flex-direction: column;
			}
		}
		&__side {
			max-width: 551px;
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 8px;
			@include media(s) {
				display: none;
			}
			border: none;
			img {
				max-width: 100%;
				height: auto;
			}
		}
		&__content {
			display: flex;
			flex-direction: column;
			gap: 24px;
			max-width: 620px;
			.tag {
				display: inline-block;
				max-width: 223px;
			}
			@include media(s) {
				flex-direction: column;
				align-items: center;
				justify-content: center;
				display: flex;
				padding: 0 24px;
			}
		}
		&__list {
			display: flex;
			flex-direction: column;
			list-style: none;
			padding: 0;
			li {
				display: flex;
				align-items: start;
				img {
					margin-right: 10px;
				}
			}
		}
		&__title {
			@include general-title-smaller;
			color: $neutro-700;
		}
		.default__title {
			margin-bottom: 0px;
		}
		.default__desc {
			color: #5c5c5c;
			font-weight: 600;
			font-size: 20px;
			line-height: 30px;
			@include media(s) {
				text-align: center;
			}
		}

		&__card {
			background: linear-gradient(92deg, #9747ff 0%, #5218af 100%);
			padding: 32px;
			display: flex;
			gap: 16px;
			color: $neutro-50;
			@include l-shadow;
			@include s-border;
			&--title {
				@include general-title-smaller;
			}
			&--desc {
				@include text;
			}
		}
	}

	.contact {
		background-color: $cor-primaria;
		padding: 80px 0px;
		@include media(s) {
			padding: 60px 0px;
		}
		&__container {
			@include container;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			@include media(s) {
				padding: 0 24px;
			}
			.default__title {
				color: #30def2;
				text-align: center;
				margin: 24px 0px;
			}
			.default__desc {
				color: $neutro-50;
				text-align: center;
				margin-bottom: 64px;
				max-width: 1030px;
				@include media(s) {
					margin-bottom: 40px;
				}
			}
			.tag {
				background-color: rgba(255, 255, 255, 0.16);
				&__text {
					color: $neutro-50;
				}
			}
		}
		&__form {
			width: 100%;
			display: flex;
			gap: 16px;
			background-color: #fff;
			padding: 64px;
			flex-wrap: wrap;
			@include media(s) {
				padding: 32px;
			}
			.form-gap {
				flex-wrap: wrap;
			}
			@include l-border;
			input {
				width: 300px;
			}
			.button {
				border: none;
				@include media(s) {
					width: 100%;
				}
			}
		}
	}

	.faq {
		padding: 80px 0px;
		&__container {
			@include container;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 24px;
			@include media(s) {
				flex-direction: column;
				padding: 0px 24px;
				align-items: center;
				justify-content: center;
				gap: 48px;
			}
		}
		&__side {
			max-width: 576px;
			@include media(s) {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				text-align: center;
			}
			.default__title {
				margin: 24px 0px;
			}
			.default__desc {
				margin-bottom: 83px;
				@include media(s) {
					margin-bottom: 40px;
				}
			}
		}
		&__content {
			@include container;
			width: 100%;
			.accordion {
				display: flex;
				flex-wrap: wrap;
				gap: 16px;
				&-item {
					border: none;
					flex-shrink: 0;
					max-width: 612px;
					width: 100%;
					border: none;
					&:last-child {
						margin-bottom: 0px;
					}
				}
				&-body {
					@include text;
					background-color: #f0f0f0;
					border-radius: 0px 0px 8px 8px;
					padding: 24px;
				}
				&-button {
					color: $texto-resources;
					border: none;
					background-color: #f0f0f0;
					padding: 24px;
					@include text;
					color: $texto-resources;
					&:focus {
						border: none;
						box-shadow: none;
					}
					&:not(.collapsed) {
						color: $cor-primaria;
						background-color: #f0f0f0;
						border-radius: 8px 8px 0px 0px;
						border: none;
					}
					&.collapsed {
						@include s-border;
					}
					&::after {
						width: 10px;
						height: 6px;
						background-image: url("../assets/seta.svg");
						background-size: unset;
					}
				}
			}
		}
	}

	.footer {
		background-color: $cor-primaria;
		padding: 48px 0px;
		color: $neutro-50;
		&__container {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			gap: 16px;
			padding: 0px 24px;
			@include media(s) {
				align-items: center;
				justify-content: center;
				text-align: center;
			}
			a {
				@include text;
				color: $neutro-50;
				text-decoration: none;
				transition: all 0.2s ease;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		&__links {
			display: flex;
			gap: 40px;
		}
		&__logo {
			width: 100%;
			text-align: center;
			margin-bottom: 24px;
			img {
				max-width: 100%;
				height: auto;
			}
		}
	}
}
