<section class="benefits">
	<div class="benefits__container">
		<div class="benefits__side">
			<img src="./assets/img.png" alt="" />
		</div>
		<div class="benefits__content">
			<div class="tag">
				<p class="tag__text">POR QUE FAZER PARTE?</p>
			</div>
			<h3 class="default__title">A maneira inteligente de crescer no mundo digital</h3>
			<p class="default__desc">Revenda produtos digitais já existentes e lucre com a comissão.</p>

			<ul class="benefits__list">
				<li class="benefits__list--item">
					<img src="./assets/checkbox-circle-fill.svg" alt="" />
					<p class="benefits__list--text">Autonomia profissional e flexibilidade </p>
				</li>
				<li class="benefits__list--item">
					<img src="./assets/checkbox-circle-fill.svg" alt="" />
					<p class="benefits__list--text">Expansão da sua rede profissional</p>
				</li>
				<li class="benefits__list--item">
					<img src="./assets/checkbox-circle-fill.svg" alt="" />
					<p class="benefits__list--text">Ferramentas avançadas para gestão</p>
				</li>
				<li class="benefits__list--item">
					<img src="./assets/checkbox-circle-fill.svg" alt="" />
					<p class="benefits__list--text">Parcerias estratégicas na comunidade</p>
				</li>
			</ul>
		</div>
	</div>
</section>
