<section class="contact">
	<div class="contact__container">
		<h3 class="default__title">Descubra o potencial do Programa de Afiliados VibX</h3>
		<p class="default__desc">
			Registre-se agora e comece a explorar as possibilidades de lucro e expansão que só o VibX oferece. Está pronto para esta jornada?
		</p>
		<form action="" class="contact__form">
			<div class="form-gap">
				<div class="input_wrap">
					<input type="text" required />
					<label><img src="./assets/person.svg" alt="" /> Nome</label>
				</div>
				<div class="input_wrap">
					<input type="email" required />
					<label><img src="./assets/mail.svg" alt="" /> E-mail</label>
				</div>
				<div class="input_wrap">
					<input type="tel" required />
					<label><img src="./assets/phone.svg" alt="" /> Telefone</label>
				</div>
			</div>
			<button type="submit" class="button">enviar</button>
		</form>
	</div>
</section>
