<section class="faq" id="faq">
	<div class="faq__container">
		<div class="faq__side" style="display: flex; flex-direction: column; align-items: center">
			<div class="tag" style="color: #6c23e2; max-width: 70px; text-align: center">FAQ</div>
			<h3 class="default__title">Perguntas mais frequentes</h3>
		</div>
		<div class="faq__content">
			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button
							class="accordion-button"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapseOne"
							aria-expanded="true"
							aria-controls="collapseOne"
						>
							Como posso me tornar um afiliado VibX?
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Para se tornar um afiliado, basta se inscrever no nosso site. O processo é simples: preencha o formulário de inscrição e, uma vez aprovado, você
							terá acesso ao nosso painel de afiliados e a todos os recursos necessários para começar.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingTwo">
						<button
							class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapseTwo"
							aria-expanded="false"
							aria-controls="collapseTwo"
						>
							Quais são os requisitos para ser um afiliado?
						</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Não há requisitos específicos para se tornar um afiliado VibX. Buscamos pessoas apaixonadas por marketing digital, vendas, e que desejam ampliar
							seus rendimentos através de um programa de afiliados robusto e inovador.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingThree">
						<button
							class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapseThree"
							aria-expanded="false"
							aria-controls="collapseThree"
						>
							Como funcionam as comissões do programa?
						</button>
					</h2>
					<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							As comissões são ganhas a cada venda realizada através de seus links de afiliado. O valor da comissão varia de acordo com o produto vendido e as
							condições específicas definidas por cada criador.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingFour">
						<button
							class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapseFour"
							aria-expanded="false"
							aria-controls="collapseFour"
						>
							Como posso acompanhar minhas vendas e comissões?
						</button>
					</h2>
					<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Você terá acesso a um painel de controle onde pode acompanhar todas as suas vendas, comissões e outros dados relevantes em tempo real, permitindo
							que você ajuste suas estratégias conforme necessário.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingFive">
						<button
							class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapseFive"
							aria-expanded="false"
							aria-controls="collapseFive"
						>
							O programa oferece suporte aos afiliados?
						</button>
					</h2>
					<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							Oferecemos suporte completo aos nossos afiliados. Nossa equipe está disponível para ajudar com qualquer dúvida ou problema que você possa ter,
							desde questões técnicas até estratégias de marketing.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
